/* ANIMAÇÃO */
button,
.btn-remove,
a,
#postList ul li {
  transition:
    color .25s,
    background .25s,
    border-color .25s
}

/* TEMA */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
body * {
  font-family: 'Open Sans', sans-serif;
}
body > header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
body > header menu a {
  display: inline-block;
  padding: 10px;
  font-weight: 600;
}
.main-title strong {
  color: rgba(0, 0, 0, .8);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -3px;
  font-weight: 900;
}
.main-title:hover {
  text-decoration: none;
}
body > footer {
  background-color: #0f62a5;
  margin: 60px 0 0;
}
body > footer .main-title strong {
  color: white;
  letter-spacing: -2px;
}
#btnEditSource:hover,
#btnEditPost:hover {
  color: #1d84d6;
}

/* TAGS */

[layout~='no-shrink'] {
  flex-shrink: 0;
}
main {
  display: block;
  flex-grow: 1;
  max-width: -webkit-fill-available;
  padding: 0;
}
#sidebar {
  margin-top: 40px;
  padding-right: 20px;
}
#sidebar section {
  padding: 10px 20px 20px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
}
body * {
  box-sizing: border-box;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  border: 0;
}
h1, h2, h3 {
  line-height: 1.25em;
}
button {
  border-width: 0 0 3px 0;
}


/* MODULOS */

#loginBox nav {
  cursor: pointer;
  position: relative;
  padding: 12px;
  display: inline-block;
}
#loginBox nav[hidden] {
  display: none;
}
#loginBox nav.active,
.popover-menu li:hover {
  background: #1d84d6;
}
#loginBox nav.active menu {
  display: block;
}
#loginBox nav menu {
  margin-top: -3px;
  display: none;
  top: 74px;
  right: 0;
  position: absolute;
  padding: 0;
  background: #1d84d6;
  border-radius: 3px 0 3px 3px;
}
#loginBox nav menu a {
  color: #fff;
  font-size: .9em;
  display: block;
  padding: 8px 15px;
}
#loginBox nav menu a:hover {
  background: rgba(255, 255, 255, .2);
  text-decoration: none;
}

#notifications {
  height: 72px;
  line-height: 72px;
  padding: 0 15px;
  cursor: pointer;
}
#notifications:hover {
  color: #fff;
  background: #1d84d6;
}
#notifications .label {
  position: absolute;
  right: 5px;
  top: 22px;
  font-size: .7em;
  padding: 2px 6px;
  display: inline-block;
  background: red;
  color: white;
  line-height: 1;
  border-radius: 2px;
}
#notifications menu {
  /*display: none;*/
  text-align: left;
  top: 71px;
  right: 0;
  position: absolute;
  padding: 0;
  background: #fafafa;
  border-radius: 3px 0 3px 3px;
  box-shadow: 1px 1px 5px #aaa;
  width: 310px;
}
#notifications menu a {
  /*background: #fff;*/
  font-size: .8em;
  font-weight: 300;
  padding: 8px 15px;
  margin: 2px;
  line-height: 1.25em;
  border-bottom: 1px solid #eee;
}
#notifications menu a:last-of-type {
  border-bottom: 0;
}
#notifications menu a b {
  font-weight: 600;
}
#notifications menu a i {
  font-size: 1.3em;
}
.fakelink {
  color: #2196f3;
  font-weight: 600;
}

#reasonsList {
  margin: 40px -10px 0;
}
#reasonsList > div {
  padding: 0 10px;
}
#reasonsList > div header {
  border-radius: 3px 3px 0 0;
}
#reasonsList ul li {
  cursor: pointer
}
#reasonsList ul li:hover {
  background: rgba(0, 0, 0, .15);
}
#btnEditSource,
#btnEditPost {
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
}


/* BOTOES */

[type=outline] {
  color: rgba(0, 0, 0, .6);
  /*font-weight: 600;*/
  background: transparent;
  border: 1px solid rgba(0, 0, 0, .3);
}
[type=outline]:hover {
  background: transparent;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .6);
}

[type=cancelar] {
  background: #bbb;
  border-color: #aaa;
}
[type=cancelar]:hover {
  background: #d9534f;
  border-color: #d43f3a;
}
[type=boicotando] {
  /*background: #449d44;*/
  border-color: rgba(0, 0, 0, .1);
}
[type=boicotando]:hover {
  background: #d9534f;
}
[type=boicotar],
[type=boicotar]:active {
  background: #ec971f;
  border-color: rgba(0, 0, 0, .1);
}
[type=boicotar]:hover {
  background: #df8300;
}
.btn-remove {
  color: #aaa;
  line-height: 1;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 2px;
  cursor: pointer;
}
.btn-remove:hover {
  color: #fff;
  background: #ce3131;
}

/* CLASSES */
.vote-up, .vote-down {
  color: #999
}
.vote-down.selected {
  color: red
}
.vote-up.selected {
  color: green
}
.material-icons {
  vertical-align: middle;
}
.fu_popover_content_default {
  padding: 5px 0 0 !important;
}
.popover-menu {
  margin-bottom: 5px;
}
.popover-menu li {
  white-space: nowrap;
  font-size: .9em;
  margin: 0;
  padding: 6px 14px;
  color: #666;
}
.popover-menu li.divisor {
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.popover-menu li:hover {
  color: #fff;
  cursor: pointer;
}
.maxWidth {
  /*max-width: 1200px;*/
  max-width: 960px;
  flex-basis: auto;
  margin: auto;
  flex-grow: 1;
}
.tag {
  color: #666;
  background: #ddd;
  border-radius:3px;
  display: inline-block;
  padding: 1px 6px;
  font-size: .9em;
}
.box {
  /*border-bottom: 1px solid #eee;*/
  /*border-width: 1px 0 1px 0;*/
  padding: 15px;
}
.rBox {
  border-radius: 8px;
  background: #eee;
  padding: 20px 20px;
}
#modalSource .rBox {
  margin:20px -32px -32px;
  border-radius: 0 0 8px 8px;
}
.tingle-modal {
  padding: 40px 0;
}
.tingle-modal__close:active,
.tingle-modal__close:hover {
  background: transparent;
  border: 0;
  box-shadow: none;
}
.modal-confirm {
  z-index: 10000;
}
.modal-confirm .tingle-modal-box {
  max-width: 400px;
}
#modalSignup .tingle-modal-box {
  max-width: 300px;
}
.modal-footer {
  margin: 20px -32px -32px;
}
.error {
  color: #a94442;
  background-color: #f2dede;
  /*padding: 15px;*/
  padding: 8px 12px;
  margin-bottom: 5px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}

main {
  max-width: none;
}

#commentBox {
  font-size: .9em;
  height: 39px;
  margin: 0;
  height: auto;
  min-height: auto;
  max-height: 119px;
}
#commentSendButton {
  cursor: pointer;
  color: #2196f3;
}
#commentSendButton.disable {
  color: #999;
}

div.line {
  height: 1px;
  background-color: #CCC;
  text-align: center;
  max-width: 90%;
  margin: 20px auto;
  font-size: 14px;
}

div.line span  {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: -.7em;
  color: #777;
}

input[type="email"], input[type="month"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input[type="number"], input[type="search"], input[type="date"], input[type="datetime"], input[type="datetime-local"], select {
  padding: 10px 12px;
}

/*Templates*/
.show-if-1, .show-if-not-0 { display: block !important }
.show-if-0, .show-if-not-1, .hide-if-1, .hide-if-not-0 { display: none !important }

.tabs {
  border-bottom: 1px solid #eee;
}
.tabs a {
  outline: 0;
  color: #666;
  margin-bottom:-1px;
  display: inline-block;
  padding: 11px 25px 13px;
  border-top: 2px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.tabs a.active {
  display: inline-block;
  border-top-color: #2196f3;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
