<!DOCTYPE html>
<html>

  <head>
    <title>Boicote – Ação coletiva a favor da justiça!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/helpers.min.css">
    <link rel="stylesheet" href="/css/marx-2.0.7.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/material-design-icons-3.0.1/iconfont/material-icons.css">
    <link rel="stylesheet" href="/css/tingle-0.11.0.min.css">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans:400,600">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <!-- <link rel="icon" href="/img/boicote.png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>

    <header>
      <div class="maxWidth" text="black-80" layout="flex row items-center justify-center h-padding-15" style="height:70px">
        <a href="/" class="main-title">
          <strong text="giant">
        <i class="fa fa-ban" text="red"></i>
        Boicote!
      </strong>
        </a>
        <!-- <menu text="right" layout="grow right-40" links="gray-60 hover-blue">
      <a href="#">APRENDA</a>
      <a href="#">SOBRE</a>
      <a href="#">APP</a>
    </menu> -->
        <div id="loginBox" layout="flex items-center grow" text="right" links="gray-60 hover-blue" data-template>
          <div layout="grow">
            <a layout="inline-block" href="/topico-form">Iniciar um boicote!</a>
          </div>
          &nbsp; &nbsp; &nbsp;
          <nav class="show-if-{{logged}}" onclick="this.classList.toggle('active')" hidden>
            <img data-src="{{avatarURL}}" alt="{{nome}}" width="50" layout="circle left">
            <menu>
              <!-- <a href="#">Perfil</a> -->
              <!-- <a href="#">Configurações</a> -->
              <a href="#" onclick="Auth.logout(event)">Sair</a>
            </menu>
          </nav>
          <div class="show-if-not-{{logged}}" layout="inline-block" hidden>
            <button type="button" onclick="Modal.open(Template.data.modalLogin, ['button', 'escape'], 400)">
              login
            </button>
            &nbsp;
            <button type="outline" onclick="Modal.open(Template.data.modalSignup, ['button', 'escape'], 400)">cadastro</button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="maxWidth">


        <div cols="8">

          <div layout="margin-20 left">

            <h1>Temas debatidos</h1>

            <ul id="postList" layout="flat" data-template hidden>
              {{#posts}}
              <li onclick="Page.go('/tema/{{slug}}')" text="1.1em line-1.5" layout="padding-10 fix" style="border-bottom:1px solid rgba(0, 0, 0, .1)" onhover="pointer">
                <h3 text="1em bold" layout="no-margin">{{title}}</h3>
                <!-- <p text=".8em blue" layout="no-margin">tecmundo.com.br</p> -->
                <!-- <p text=".8em gray bold" layout="no-margin">
          <i class="material-icons" style="font-size:1.9em">&#xE316;</i>{{num_votes_up}}
          <i class="material-icons" style="font-size:1.9em">&#xE313;</i>{{num_votes_down}}
          <i class="material-icons" style="font-size:1.3em">&#xE0CA;</i>{{num_comments}}
          <i class="material-icons" style="font-size:1.3em">&#xE8A6;</i>{{num_users}}
        </p> -->
              </li>
              {{/posts}}
            </ul>

          </div>

        </div>

        <aside id="sidebar" class="loginArea" cols="4" hidden>
          <section layout="gray-10">
            <h2 text="1em upper bold black-80" layout="top-10">Login</h2>

            <div text="center">
              <button onclick="Page.go('/auth/facebook')">
                <i class="fa fa-facebook"></i>
                Conectar com Facebook
              </button>
            </div>

            <div class="line">
              <span layout="gray-10">ou</span>
            </div>

            <form id="formLogin" layout="fix" onsubmit="Auth.login(this, event); return false">
              <p>
                <input type="text" name="email" layout="fluid" placeholder="E-mail">
              </p>
              <p>
                <input type="password" name="pass" layout="fluid" placeholder="Senha">
              </p>
              <p>
                <button type="submit">Login</button>
              </p>
            </form>

            <hr layout="top-20">

            <h2 text="1em upper bold black-80" layout="top-10">Cadastro</h2>
            <form id="formCadastro" layout="fix" action="" onsubmit="Auth.signup(this, event)">
              <p>
                <input type="text" name="name" layout="fluid" placeholder="Nome">
              </p>
              <p>
                <input type="text" name="email" layout="fluid" placeholder="E-mail">
              </p>
              <p>
                <input type="password" name="pass" layout="fluid" placeholder="Senha">
              </p>
              <p>
                <button type="submit">Cadastrar</button>
              </p>
            </form>

          </section>
        </aside>



        <script>
          function __init() {
            $.get('/api/posts', function(posts) {
              Template.render('postList', {
                posts: posts
              })
            })
          }
        </script>


      </div>
    </main>


    <div id="modalSignup" data-template hidden>
      <h2 class="hideIfEdit" layout="no-top bottom-20">Cadastro:</h2>

      <div text="center">
        <button onclick="Page.go('/auth/facebook')">
          <i class="fa fa-facebook"></i>
          Conectar com Facebook
        </button>
      </div>

      <div class="line">
        <span layout="white">ou</span>
      </div>

      <form id="formCadastro" layout="fix" action="" onsubmit="Auth.signup(this, event)">
        <p>
          <label text="small bold" for="name">Nome:</label>
          <input type="text" name="name" layout="fluid" placeholder="Informe seu nome">
        </p>
        <p>
          <label text="small bold" for="email">E-mail:</label>
          <input type="text" name="email" layout="fluid" placeholder="Informe seu email">
        </p>
        <p>
          <label text="small bold" for="pass">Senha:</label>
          <input type="password" name="pass" layout="fluid" placeholder="******">
        </p>
        <p>
          <button type="submit" layout="left">Cadastrar</button>
          <button type="cancelar" layout="right" onclick="Modal.close(event)">Cancelar</button>
        </p>
      </form>
    </div>


    <div id="modalLogin" data-template hidden>
      <h2 class="hideIfEdit" layout="no-top bottom-20">Acesso ao site:</h2>

      <div text="center">
        <button onclick="Page.go('/auth/facebook')">
          <i class="fa fa-facebook"></i>
          Conectar com Facebook
        </button>
      </div>

      <div class="line">
        <span layout="white">ou</span>
      </div>

      <form id="formLogin" layout="fix" onsubmit="Auth.login(this, event); return false">
        <p>
          <label text="small bold" for="email">E-mail:</label>
          <input type="text" name="email" layout="fluid" placeholder="Informe seu email">
        </p>
        <p>
          <label text="small bold" for="pass">Senha:</label>
          <input type="password" name="pass" layout="fluid" placeholder="******">
        </p>
        <!-- <p>
      <label text="small bold" for="lembrar">
        <input type="checkbox" name="lembrar" placeholder="******" value="1"> Lembrar-me
      </label>
    </p> -->
        <p>
          <button type="submit" layout="left">Login</button>
          <button type="cancelar" layout="right" onclick="Modal.close(event)">Cancelar</button>
        </p>
      </form>
    </div>


    <footer text="white .8em line-1.75 left" layout="gray-80 v-padding-40 fix" links="no-decoration gray-20 hover-red">
      <div layout="max-960 center h-padding-20">
        <div cols="3">
          <a href="https://labpirata.com" target="_blank">
            <span text=".8em upper bold">Produzido por:</span>
            <br>
            <img src="https://labpirata.com/labpirata-footer.png" alt="">
            <br>
            <span text="gray-20">
          Somos uma incubadora digital de <br>
          projetos tecnológicos que desenvolve <br>
          inovação para pessoas e coletivos.
        </span>
          </a>
        </div>
        <div cols="3" layout="top-10" style="padding-left:20px">
          <b layout="inline-block bottom-10">Projetos</b>
          <br>
          <a href="https://labpirata.com" target="_blank">LabPirata.com</a>
          <br>
          <a href="https://comidalivre.org" target="_blank">ComidaLivre.org</a>
          <br>
          <a href="https://libreflix.org/" target="_blank">LibreFlix.org</a>
          <br>
          <a href="http://helpers.araujo.cc" target="_blank">Helpers CSS Framework</a>
          <br>
          <a href="http://mom.labpirata.com" target="_blank">Tradutor MOM</a>
          <br>
        </div>
        <div cols="3" layout="top-10" style="padding-left:50px">
          <!-- <b layout="inline-block bottom-10">Mapa do site</b> <br> -->
        </div>
        <div cols="3">
          <div class="main-title">
            <i class="fa fa-ban" style="font-size:1.6em"></i>
            <strong text="bigger">Boicote!</strong>
          </div>
          <a layout="inline-block top-10" href="https://www.facebook.com/LabPiratas" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://www.youtube.com/channel/UCU6m4HnIoBo77XppAINqZ4g" target="_blank">
            <i class="fa fa-youtube-play fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://www.instagram.com/labpiratas/" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://github.com/labpiratas" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <p text=".7em">
            <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
              CC BY
              <i class="fa fa-creative-commons"></i> ALGUNS DIREITOS RESERVADOS
              <br> (pode copiar o conteúdo desde que cite o autor)
            </a>
          </p>
        </div>
      </div>
    </footer>

    <script src="/libs.js"></script>
    <script src="/all.js"></script>

  </body>

</html>