<!DOCTYPE html>
<html>

  <head>
    <title>Boicote – Ação coletiva a favor da justiça!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/helpers.min.css">
    <link rel="stylesheet" href="/css/marx-2.0.7.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/material-design-icons-3.0.1/iconfont/material-icons.css">
    <link rel="stylesheet" href="/css/tingle-0.11.0.min.css">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans:400,600">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <!-- <link rel="icon" href="/img/boicote.png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>

    <header>
      <div class="maxWidth" text="black-80" layout="flex row items-center justify-center h-padding-15" style="height:70px">
        <a href="/" class="main-title">
          <strong text="giant">
        <i class="fa fa-ban" text="red"></i>
        Boicote!
      </strong>
        </a>
        <!-- <menu text="right" layout="grow right-40" links="gray-60 hover-blue">
      <a href="#">APRENDA</a>
      <a href="#">SOBRE</a>
      <a href="#">APP</a>
    </menu> -->
        <div id="loginBox" layout="flex items-center grow" text="right" links="gray-60 hover-blue" data-template>
          <div layout="grow">
            <a layout="inline-block" href="/topico-form">Iniciar um boicote!</a>
          </div>
          &nbsp; &nbsp; &nbsp;
          <nav class="show-if-{{logged}}" onclick="this.classList.toggle('active')" hidden>
            <img data-src="{{avatarURL}}" alt="{{nome}}" width="50" layout="circle left">
            <menu>
              <!-- <a href="#">Perfil</a> -->
              <!-- <a href="#">Configurações</a> -->
              <a href="#" onclick="Auth.logout(event)">Sair</a>
            </menu>
          </nav>
          <div class="show-if-not-{{logged}}" layout="inline-block" hidden>
            <button type="button" onclick="Modal.open(Template.data.modalLogin, ['button', 'escape'], 400)">
              login
            </button>
            &nbsp;
            <button type="outline" onclick="Modal.open(Template.data.modalSignup, ['button', 'escape'], 400)">cadastro</button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="maxWidth">


        <div cols="12">
          <h1>Política de privacidade e Termos de uso</h1>
          <h2>Política de privacidade para
            <a href='http://boicote.labpirata.com'>Boicote!</a>
          </h2>
          <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>
          <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Boicote!.</p>
          <p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Boicote! serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
          <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros.</p>
          <p>O uso do Boicote! pressupõe a aceitação deste Acordo de privacidade. A equipa do Boicote! reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de
            forma a estar sempre atualizado.</p>
          <h2>Os Cookies</h2>
          <p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website.</p>
          <p>Em adição também utilizamos publicidade de terceiros no nosso website para suportar os custos de manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os cookies e/ou web beacons quando publicitam no nosso website.</p>
          <p>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá alterar a forma como interage com o nosso website,
            ou outros websites. Isso poderá afetar ou não permitir que faça logins em programas, sites ou fóruns da nossa e de outras redes.</p>
          <h2>Ligações a Sites de terceiros</h2>
          <p>O Boicote! possui ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site
            a partir do nosso deverá ler a politica de privacidade do mesmo.</p>
          <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
          <h2>Alterações na política de privacidade</h2>
          <p>O Boicote! reserva-se o direito de, a qualquer momento, modificar, alterar, acrescentar ou remover partes desta política de privacidade, atribuindo-se o dever de assegurar o sigilo, a proteção e a segurança dos dados e informações pessoais ou
            privados dos usuários.</p>
        </div>



        <script>
          function __init() {
            $.get('/api/posts', function(posts) {
              Template.render('postList', {
                posts: posts
              })
            })
          }
        </script>


      </div>
    </main>


    <div id="modalSignup" data-template hidden>
      <h2 class="hideIfEdit" layout="no-top bottom-20">Cadastro:</h2>

      <div text="center">
        <button onclick="Page.go('/auth/facebook')">
          <i class="fa fa-facebook"></i>
          Conectar com Facebook
        </button>
      </div>

      <div class="line">
        <span layout="white">ou</span>
      </div>

      <form id="formCadastro" layout="fix" action="" onsubmit="Auth.signup(this, event)">
        <p>
          <label text="small bold" for="name">Nome:</label>
          <input type="text" name="name" layout="fluid" placeholder="Informe seu nome">
        </p>
        <p>
          <label text="small bold" for="email">E-mail:</label>
          <input type="text" name="email" layout="fluid" placeholder="Informe seu email">
        </p>
        <p>
          <label text="small bold" for="pass">Senha:</label>
          <input type="password" name="pass" layout="fluid" placeholder="******">
        </p>
        <p>
          <button type="submit" layout="left">Cadastrar</button>
          <button type="cancelar" layout="right" onclick="Modal.close(event)">Cancelar</button>
        </p>
      </form>
    </div>


    <div id="modalLogin" data-template hidden>
      <h2 class="hideIfEdit" layout="no-top bottom-20">Acesso ao site:</h2>

      <div text="center">
        <button onclick="Page.go('/auth/facebook')">
          <i class="fa fa-facebook"></i>
          Conectar com Facebook
        </button>
      </div>

      <div class="line">
        <span layout="white">ou</span>
      </div>

      <form id="formLogin" layout="fix" onsubmit="Auth.login(this, event); return false">
        <p>
          <label text="small bold" for="email">E-mail:</label>
          <input type="text" name="email" layout="fluid" placeholder="Informe seu email">
        </p>
        <p>
          <label text="small bold" for="pass">Senha:</label>
          <input type="password" name="pass" layout="fluid" placeholder="******">
        </p>
        <!-- <p>
      <label text="small bold" for="lembrar">
        <input type="checkbox" name="lembrar" placeholder="******" value="1"> Lembrar-me
      </label>
    </p> -->
        <p>
          <button type="submit" layout="left">Login</button>
          <button type="cancelar" layout="right" onclick="Modal.close(event)">Cancelar</button>
        </p>
      </form>
    </div>


    <footer text="white .8em line-1.75 left" layout="gray-80 v-padding-40 fix" links="no-decoration gray-20 hover-red">
      <div layout="max-960 center h-padding-20">
        <div cols="3">
          <a href="https://labpirata.com" target="_blank">
            <span text=".8em upper bold">Produzido por:</span>
            <br>
            <img src="https://labpirata.com/labpirata-footer.png" alt="">
            <br>
            <span text="gray-20">
          Somos uma incubadora digital de <br>
          projetos tecnológicos que desenvolve <br>
          inovação para pessoas e coletivos.
        </span>
          </a>
        </div>
        <div cols="3" layout="top-10" style="padding-left:20px">
          <b layout="inline-block bottom-10">Projetos</b>
          <br>
          <a href="https://labpirata.com" target="_blank">LabPirata.com</a>
          <br>
          <a href="https://comidalivre.org" target="_blank">ComidaLivre.org</a>
          <br>
          <a href="https://libreflix.org/" target="_blank">LibreFlix.org</a>
          <br>
          <a href="http://helpers.araujo.cc" target="_blank">Helpers CSS Framework</a>
          <br>
          <a href="http://mom.labpirata.com" target="_blank">Tradutor MOM</a>
          <br>
        </div>
        <div cols="3" layout="top-10" style="padding-left:50px">
          <!-- <b layout="inline-block bottom-10">Mapa do site</b> <br> -->
        </div>
        <div cols="3">
          <div class="main-title">
            <i class="fa fa-ban" style="font-size:1.6em"></i>
            <strong text="bigger">Boicote!</strong>
          </div>
          <a layout="inline-block top-10" href="https://www.facebook.com/LabPiratas" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://www.youtube.com/channel/UCU6m4HnIoBo77XppAINqZ4g" target="_blank">
            <i class="fa fa-youtube-play fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://www.instagram.com/labpiratas/" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://github.com/labpiratas" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <p text=".7em">
            <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
              CC BY
              <i class="fa fa-creative-commons"></i> ALGUNS DIREITOS RESERVADOS
              <br> (pode copiar o conteúdo desde que cite o autor)
            </a>
          </p>
        </div>
      </div>
    </footer>

    <script src="/libs.js"></script>
    <script src="/all.js"></script>

  </body>

</html>