<!DOCTYPE html>
<html>

  <head>
    <title>Boicote – Ação coletiva a favor da justiça!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/helpers.min.css">
    <link rel="stylesheet" href="/css/marx-2.0.7.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/material-design-icons-3.0.1/iconfont/material-icons.css">
    <link rel="stylesheet" href="/css/tingle-0.11.0.min.css">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans:400,600">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <!-- <link rel="icon" href="/img/boicote.png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>

    <header>
      <div class="maxWidth" text="black-80" layout="flex row items-center justify-center h-padding-15" style="height:70px">
        <a href="/" class="main-title">
          <strong text="giant">
        <i class="fa fa-ban" text="red"></i>
        Boicote!
      </strong>
        </a>
        <!-- <menu text="right" layout="grow right-40" links="gray-60 hover-blue">
      <a href="#">APRENDA</a>
      <a href="#">SOBRE</a>
      <a href="#">APP</a>
    </menu> -->
        <div id="loginBox" layout="flex items-center grow" text="right" links="gray-60 hover-blue" data-template>
          <div layout="grow">
            <a layout="inline-block" href="/topico-form">Iniciar um boicote!</a>
          </div>
          &nbsp; &nbsp; &nbsp;
          <nav class="show-if-{{logged}}" onclick="this.classList.toggle('active')" hidden>
            <img data-src="{{avatarURL}}" alt="{{nome}}" width="50" layout="circle left">
            <menu>
              <!-- <a href="#">Perfil</a> -->
              <!-- <a href="#">Configurações</a> -->
              <a href="#" onclick="Auth.logout(event)">Sair</a>
            </menu>
          </nav>
          <div class="show-if-not-{{logged}}" layout="inline-block" hidden>
            <button type="button" onclick="Modal.open(Template.data.modalLogin, ['button', 'escape'], 400)">
              login
            </button>
            &nbsp;
            <button type="outline" onclick="Modal.open(Template.data.modalSignup, ['button', 'escape'], 400)">cadastro</button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="maxWidth">


        <div cols="8" style="padding-right:60px">

          <article id="topic" layout="margin-20 left" data-template hidden>

            <header layout="flex no-margin">
              <h1>{{title}}</h1>
              <div layout="no-shrink top-30">
                <i id="btnEditPost" class="material-icons">&#xE5D4;</i>
              </div>
            </header>

            <menu class="tabs">
              <a href="#Text" class="active" onclick="Post.show(this, 'Text')">Contexto</a>
              <a href="#Discussion" onclick="Post.show(this, 'Discussion')">Discussão</a>
            </menu>

            <div id="tabText" class="tab-content">
              <div class="box" layout="flex row items-center bottom-10">
                <div id="btnJoin" layout="grow">
                  <button type="boicotar" onclick="Post.join('{{_id}}')">
                    <i class="fa fa-fw fa-ban"></i>
                    Boicotar!
                  </button>
                  <button type="boicotando" onclick="Post.join('{{_id}}', true)" onmouseover="this.innerHTML='<i class=\'fa fa-fw fa-eye\'></i> Deixar boicote...'" onmouseout="this.innerHTML = '<i class=\'fa fa-fw fa-eye\'></i> Boicotando'" hidden>
                    <i class="fa fa-fw fa-eye"></i>
                    Boicotando
                  </button>
                </div>
                <div text="inline-block gray-50 small" layout="right-15">
                  {{date}}
                </div>
                <div>
                  <img text="middle" src="{{avatarURL}}" alt="{{author.name}}" layout="circle" width="25">
                  <b text="small">{{author.name}}</b>
                </div>
              </div>

              <div layout="h-padding-15">
                <p>
                  {{{text}}}
                </p>
                <p>
                  {{{formatedTags}}}
                </p>
              </div>

              <div id="reasonsList">
                <div>
                  <header text="white bold" layout="black padding-10 no-margin">
                    {{num_reasons}} Motivos
                  </header>
                  <ul layout="flat" style="background: #eee">
                    {{#reasons}}
                    <li onclick="Source.modal('{{_id}}', 'reasons')" text="line-1.5" layout="padding-10 fix" style="border-bottom:1px solid rgba(0, 0, 0, .1)">
                      <div layout="flex">
                        <div text="2em bold black-30" layout="right-15">
                          {{indice}}
                        </div>
                        <div style="max-width: 90%">
                          <h3 layout="top-5 bottom-15">{{title}}</h3>
                          <div text=".9em line-1.5">{{text}}</div>
                          <p text=".7em blue break-word" layout="v-margin-15">
                            <i class="fa fa-external-link"></i>
                            {{source}}
                          </p>
                        </div>
                      </div>
                    </li>
                    {{/reasons}} {{^reasons}}
                    <li text="line-1.5" layout="padding-10 fix">
                      <p text=".8em center" layout="no-margin">
                        Nenhuma fonte ainda.
                      </p>
                    </li>
                    {{/reasons}}
                    <li onclick="Source.modalForm('reasons')" text=".9em line-1.5" layout="padding-10 black-10 fix">
                      <i class="material-icons">&#xE145;</i> Adicionar um motivo
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div id="tabDiscussion" class="tab-content" hidden>

              <ul id="postComments" data-template layout="flat">
                {{#comments}}
                <li id="comment_{{_id}}" text="line-1.5" layout="v-padding-10 fix" style="border-bottom:1px solid rgba(0, 0, 0, .1)">
                  <div layout="left">
                    <img src="{{avatarURL}}" alt="{{author.name}}" layout="circle" width="40">
                  </div>
                  <div layout="auto" style="padding-left:10px">
                    <div layout="flex">
                      <h3 text=".8em bold" layout="grow no-margin">
                        {{author.name}} <span text="normal gray-30">@{{author.nick}} {{humanDate}}</span> {{btnRemoveComment}}
                      </h3>
                      <span class="btn-remove" onclick="Comment.removeIfConfim('{{_id}}')" layout="{{btnRemoveComment}}">&times;</span>
                    </div>
                    <div text=".8em" layout="no-margin">
                      {{{comment}}}
                    </div>
                  </div>
                </li>
                {{/comments}}
              </ul>

              <div class="rBox" layout="flex items-center">
                <div layout="right-15">
                  <img src="{{#user}}{{avatarURL}}{{/user}}" alt="{{user.name}}" layout="circle" width="40">
                </div>
                <textarea id="commentBox" rows="1" layout="grow" placeholder="Comente algo sobre o assunto..." onkeyup="Comment.updateSendButton(this)" onchange="Comment.updateSendButton(this)"></textarea>
                <div id="commentSendButton" layout="left-15" class="disable" onclick="Comment.save('{{_id}}', 'postComments')">
                  <i class="material-icons">&#xE163;</i>
                </div>
              </div>

            </div>

          </article>

        </div>

        <aside id="sidebar" cols="4">
          <section layout="yellow">
            <h2 text="1.3em bold black-80" layout="top-10">Como boicotar?</h2>
            <p text=".9em"></p>
          </section>
        </aside>

        <script>
          function __init() {
            Post.load()
          }
        </script>


        <div id="modalSource" data-template hidden>
          <header layout="flex bottom-10 fix">
            <div layout="right-10" style="margin-top:-8px">
              <i class="material-icons vote-up {{voteUp}}" onhover="pointer" style="font-size:2.8em" onclick="Post.vote(1, this)">&#xE316;</i>
              <br>
              <i class="material-icons vote-down {{voteDown}}" onhover="pointer" style="font-size:2.8em" onclick="Post.vote(-1, this)">&#xE313;</i>
            </div>
            <div layout="auto grow">
              <h2 text="line-1" layout="no-margin no-bottom fix">
                {{{title}}}
              </h2>
              <p text="small" style="margin-top:-10px">
                <a href="{{source}}" target="_blank">{{source}}</a>
              </p>
            </div>
            <div>
              <i id="btnEditSource" class="material-icons">&#xE5D4;</i>
            </div>
          </header>

          {{{text}}}

          <div class="box" layout="flex row items-center bottom-20">
            <div text="1.4em gray-20" layout="grow">
              <!-- TOOLBARS -->
            </div>
            <div text="inline-block gray-50 small" layout="right-15">
              {{dataFormatada}}
            </div>
            <div>
              <img text="middle" src="{{author.avatar}}" alt="{{author.name}}" layout="circle" width="25">
              <b text="small">{{author.name}}</b>
            </div>
          </div>

          <p text=".8em gray" layout="flex row items-center no-margin" style="padding-bottom:15px">
            <span layout="grow">{{num_comments}} comentários &nbsp; </span>
          </p>

          <ul id="modalComments" data-template layout="flat">
            {{#comments}}
            <li id="comment_{{_id}}" text="line-1.5" layout="v-padding-10 fix" style="border-top:1px solid rgba(0, 0, 0, .1)">
              <div layout="left">
                <img src="{{avatarURL}}" alt="{{author.name}}" layout="circle" width="40">
              </div>
              <div layout="auto" style="padding-left:10px">
                <div layout="flex">
                  <h3 text=".8em bold" layout="grow no-margin">
                    {{author.name}} <span text="normal gray-30">@{{author.nick}} {{humanDate}}</span> {{btnRemoveComment}}
                  </h3>
                  <span class="btn-remove" onclick="Comment.removeIfConfim('{{_id}}')" layout="{{btnRemoveComment}}">&times;</span>
                </div>
                <div text=".8em" layout="no-margin">
                  {{{comment}}}
                </div>
              </div>
            </li>
            {{/comments}}
          </ul>

          <div class="rBox" layout="flex items-center" style="margin:20px -32px -32px">
            <div layout="right-15">
              <img src="{{#user}}{{avatarURL}}{{/user}}" alt="{{user.name}}" layout="circle" width="40">
            </div>
            <textarea id="commentBox" rows="1" layout="grow" placeholder="Comente sobre o assunto" onkeyup="Comment.updateSendButton(this)" onchange="Comment.updateSendButton(this)"></textarea>
            <div id="commentSendButton" layout="left-15" class="disable" onclick="Comment.save('{{_id}}', 'modalComments')">
              <i class="material-icons">&#xE163;</i>
            </div>
          </div>

        </div>


        <div id="modalFormFonte" data-template hidden>
          <h2 class="hideIfEdit" layout="no-top bottom-20">Adicionar uma nova fonte:</h2>
          <h2 class="showIfEdit" layout="no-top bottom-20" hidden>Editar fonte:</h2>
          <form id="formSource" action="" onsubmit="Source.save(this, event)">
            <p>
              <label text="small bold" for="source">Link da fonte<span text="orange">*</span>:</label>
              <input type="text" name="source" layout="fluid" placeholder="Cole o link da fonte a ser discutida. Pode ser de um texto, áudio, imagem ou vídeo" onchange="Source.analyse(this.value)">
            </p>
            <p>
              <label text="small bold" for="title">Título da fonte<span text="orange">*</span>:</label>
              <input type="text" name="title" layout="fluid" placeholder="Título contido no link da fonte">
            </p>
            <p>
              <label text="small bold" for="text">Resumo<span text="orange">*</span>:</label>
              <textarea name="text" layout="fluid" rows="2" placeholder="Escreva uma descrição da fonte"></textarea>
            </p>
            <p>
              <!-- <input type="hidden" name="_id"> -->
              <input type="hidden" name="type">
              <button type="cancelar" layout="right" onclick="Modal.close(event)">Cancelar</button>
              <button class="hideIfEdit" type="submit">Adicionar</button>
              <button class="showIfEdit" type="submit" hidden>Atualizar</button>
            </p>
          </form>
        </div>



      </div>
    </main>


    <div id="modalSignup" data-template hidden>
      <h2 class="hideIfEdit" layout="no-top bottom-20">Cadastro:</h2>

      <div text="center">
        <button onclick="Page.go('/auth/facebook')">
          <i class="fa fa-facebook"></i>
          Conectar com Facebook
        </button>
      </div>

      <div class="line">
        <span layout="white">ou</span>
      </div>

      <form id="formCadastro" layout="fix" action="" onsubmit="Auth.signup(this, event)">
        <p>
          <label text="small bold" for="name">Nome:</label>
          <input type="text" name="name" layout="fluid" placeholder="Informe seu nome">
        </p>
        <p>
          <label text="small bold" for="email">E-mail:</label>
          <input type="text" name="email" layout="fluid" placeholder="Informe seu email">
        </p>
        <p>
          <label text="small bold" for="pass">Senha:</label>
          <input type="password" name="pass" layout="fluid" placeholder="******">
        </p>
        <p>
          <button type="submit" layout="left">Cadastrar</button>
          <button type="cancelar" layout="right" onclick="Modal.close(event)">Cancelar</button>
        </p>
      </form>
    </div>


    <div id="modalLogin" data-template hidden>
      <h2 class="hideIfEdit" layout="no-top bottom-20">Acesso ao site:</h2>

      <div text="center">
        <button onclick="Page.go('/auth/facebook')">
          <i class="fa fa-facebook"></i>
          Conectar com Facebook
        </button>
      </div>

      <div class="line">
        <span layout="white">ou</span>
      </div>

      <form id="formLogin" layout="fix" onsubmit="Auth.login(this, event); return false">
        <p>
          <label text="small bold" for="email">E-mail:</label>
          <input type="text" name="email" layout="fluid" placeholder="Informe seu email">
        </p>
        <p>
          <label text="small bold" for="pass">Senha:</label>
          <input type="password" name="pass" layout="fluid" placeholder="******">
        </p>
        <!-- <p>
      <label text="small bold" for="lembrar">
        <input type="checkbox" name="lembrar" placeholder="******" value="1"> Lembrar-me
      </label>
    </p> -->
        <p>
          <button type="submit" layout="left">Login</button>
          <button type="cancelar" layout="right" onclick="Modal.close(event)">Cancelar</button>
        </p>
      </form>
    </div>


    <footer text="white .8em line-1.75 left" layout="gray-80 v-padding-40 fix" links="no-decoration gray-20 hover-red">
      <div layout="max-960 center h-padding-20">
        <div cols="3">
          <a href="https://labpirata.com" target="_blank">
            <span text=".8em upper bold">Produzido por:</span>
            <br>
            <img src="https://labpirata.com/labpirata-footer.png" alt="">
            <br>
            <span text="gray-20">
          Somos uma incubadora digital de <br>
          projetos tecnológicos que desenvolve <br>
          inovação para pessoas e coletivos.
        </span>
          </a>
        </div>
        <div cols="3" layout="top-10" style="padding-left:20px">
          <b layout="inline-block bottom-10">Projetos</b>
          <br>
          <a href="https://labpirata.com" target="_blank">LabPirata.com</a>
          <br>
          <a href="https://comidalivre.org" target="_blank">ComidaLivre.org</a>
          <br>
          <a href="https://libreflix.org/" target="_blank">LibreFlix.org</a>
          <br>
          <a href="http://helpers.araujo.cc" target="_blank">Helpers CSS Framework</a>
          <br>
          <a href="http://mom.labpirata.com" target="_blank">Tradutor MOM</a>
          <br>
        </div>
        <div cols="3" layout="top-10" style="padding-left:50px">
          <!-- <b layout="inline-block bottom-10">Mapa do site</b> <br> -->
        </div>
        <div cols="3">
          <div class="main-title">
            <i class="fa fa-ban" style="font-size:1.6em"></i>
            <strong text="bigger">Boicote!</strong>
          </div>
          <a layout="inline-block top-10" href="https://www.facebook.com/LabPiratas" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://www.youtube.com/channel/UCU6m4HnIoBo77XppAINqZ4g" target="_blank">
            <i class="fa fa-youtube-play fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://www.instagram.com/labpiratas/" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://github.com/labpiratas" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <p text=".7em">
            <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
              CC BY
              <i class="fa fa-creative-commons"></i> ALGUNS DIREITOS RESERVADOS
              <br> (pode copiar o conteúdo desde que cite o autor)
            </a>
          </p>
        </div>
      </div>
    </footer>

    <script src="/libs.js"></script>
    <script src="/all.js"></script>

  </body>

</html>