
  </div>
</main>

[[MODAL_CADASTRO]]
[[MODAL_LOGIN]]

<footer text="white .8em line-1.75 left" layout="gray-80 v-padding-40 fix" links="no-decoration gray-20 hover-red">
  <div layout="max-960 center h-padding-20">
    <div cols="3">
      <a href="https://labpirata.com" target="_blank">
        <span text=".8em upper bold">Produzido por:</span> <br>
        <img src="https://labpirata.com/labpirata-footer.png" alt="">
        <br>
        <span text="gray-20">
          Somos uma incubadora digital de <br>
          projetos tecnológicos que desenvolve <br>
          inovação para pessoas e coletivos.
        </span>
      </a>
    </div>
    <div cols="3" layout="top-10" style="padding-left:20px">
      <b layout="inline-block bottom-10">Projetos</b> <br>
      <a href="https://labpirata.com" target="_blank">LabPirata.com</a> <br>
      <a href="https://comidalivre.org" target="_blank">ComidaLivre.org</a> <br>
      <a href="https://libreflix.org/" target="_blank">LibreFlix.org</a> <br>
      <a href="http://helpers.araujo.cc" target="_blank">Helpers CSS Framework</a> <br>
      <a href="http://mom.labpirata.com" target="_blank">Tradutor MOM</a> <br>
    </div>
    <div cols="3" layout="top-10" style="padding-left:50px">
      <!-- <b layout="inline-block bottom-10">Mapa do site</b> <br> -->
    </div>
    <div cols="3">
      <div class="main-title">
        <i class="fa fa-ban" style="font-size:1.6em"></i>
        <strong text="bigger">Boicote!</strong>
      </div>
      <a layout="inline-block top-10" href="https://www.facebook.com/LabPiratas" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      &nbsp; &nbsp;
      <a href="https://www.youtube.com/channel/UCU6m4HnIoBo77XppAINqZ4g" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a>
      &nbsp; &nbsp;
      <a href="https://www.instagram.com/labpiratas/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      &nbsp; &nbsp;
      <a href="https://github.com/labpiratas" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <p text=".7em">
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
          CC BY <i class="fa fa-creative-commons"></i> ALGUNS DIREITOS RESERVADOS <br>
          (pode copiar o conteúdo desde que cite o autor)
        </a>
      </p>
    </div>
  </div>
</footer>

<script src="/libs.js"></script>
<script src="/all.js"></script>

</body>
</html>
